<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{categoria.titulo}">Lista de Categorías</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
 
<header th:replace="~{plantilla/iframe :: header}"></header>
 
<main class="container mt-5">
<h2 th:text="#{categoria.titulo}">Lista de Categorías</h2>
<a th:href="@{/categorias/modificar}" class="btn btn-primary mb-3" th:text="#{categoria.add}">Agregar Nueva Categoría</a>
 
    <table class="table table-bordered">
<thead>
<tr>
<th>ID</th>
<th th:text="#{categoria.nombre}">Nombre de la Categoría</th>
<th th:text="#{categoria.descripcion}">Descripción</th>
<th>Acciones</th>
</tr>
</thead>
<tbody>
<tr th:each="categoria : ${categorias}">
<td th:text="${categoria.idCategoria}"></td>
<td th:text="${categoria.nombre}"></td>
<td th:text="${categoria.descripcion}"></td>
<td>
<a th:href="@{/categorias/modificar/{id}(id=${categoria.idCategoria})}" class="btn btn-warning btn-sm" th:text="#{button.edit}">Editar</a>
<a th:href="@{/categorias/eliminar/{id}(id=${categoria.idCategoria})}" class="btn btn-danger btn-sm" th:text="#{button.delete}" onclick="return confirm('#{categoria.confirm_delete}');">Eliminar</a>
</td>
</tr>
</tbody>
</table>
</main>
 
<footer th:replace="~{plantilla/iframe :: footer}"></footer>
</body>
</html>