<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{app.title}">Sistema de Gestión de Farmacia</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<header th:replace="~{/plantilla/iframe :: header}"></header>
 
<main class="container mt-5">
<h2 th:text="#{iframe.sufarmacia}">Su Farmacia</h2>
<h3>Formulario de Quejas y Preguntas</h3>
 
    <!-- Formulario para enviar quejas -->
<form th:action="@{/quejas/submit}" method="post" class="mt-4">
<div class="mb-3">
<label for="nombre" class="form-label" th:text="#{product.name}">Nombre</label>
<input type="text" class="form-control" id="nombre" name="nombre" required>
</div>
<div class="mb-3">
<label for="apellido" class="form-label" th:text="#{categoria.nombre}">Apellido</label>
<input type="text" class="form-control" id="apellido" name="apellido" required>
</div>
<div class="mb-3">
<label for="telefono" class="form-label">Teléfono</label>
<input type="text" class="form-control" id="telefono" name="telefono">
</div>
<div class="mb-3">
<label for="email" class="form-label">Correo Electrónico</label>
<input type="email" class="form-control" id="email" name="email" required>
</div>
<div class="mb-3">
<label for="direccion" class="form-label">Dirección</label>
<textarea class="form-control" id="direccion" name="direccion" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary" th:text="#{button.submit}">Enviar Comentario</button>
</form>
</main>
 

<footer th:replace="~{/plantilla/iframe :: footer}"></footer>
 
</body>
</html>

 